# Ignore input and output files
inputf.in
outputf.in

# Ignore all compiled files
*.out
*.exe
*.o
# Ignore compiled executables (files without extensions)
codeforce/*
practice-contest/*
problem-solving-YKW-cpp/*
spoj/*
!codeforce/*.cpp
!practice-contest/*.cpp
!problem-solving-YKW-cpp/*.cpp
!spoj/*.cpp

# Ignore backup files (optional)
*.swp
*.tmp

.DS_Store